<html>
<body>
{{'_mail.registerAdmin_admin_body'|trans({'%fullname%':user.fullname,'%username%':user.username,'%password%':user.clearPassword}, "messages", userPreferedLocale)|raw}}
{{'_mail.admin.signature'|trans({}, "messages", userPreferedLocale)|raw}}
</body>
</html>