<html>
<body>
{{'_mail.newpass_teacher_body'|trans({'%fullname%':user.fullname,'%username%':user.username,'%password%':user.clearPassword}, "messages", userPreferedLocale)|raw}}
{{'_mail.teacher.signature'|trans({}, "messages", userPreferedLocale)|raw}}
</body>
</html>