<div class="panel panel-success">
    <div class="panel-heading text-center">
        <span class="fa-3x">
            {{render(controller('IlcfranceWorldspeakAdminFrontBundle:Widget:countCompanies'))}} <i class="fa fa-umbrella"></i>
        </span>
    </div>
    <a href="{{path('Admin__company_list')}}"><div class="panel-footer"><i class="fa fa-umbrella"></i> &nbsp; &nbsp; {{'_menu.company.list'|trans}}</div></a>
</div>