<div class="panel panel-default">
    <div class="panel-heading text-center">
        <span class="fa-3x">
            {{render(controller('IlcfranceWorldspeakAdminFrontBundle:Widget:countTeachingResources'))}} <i class="fa fa-files-o"></i>
        </span>
    </div>
    <a href="{{path('Admin__teachingResource_list')}}"><div class="panel-footer"><i class="fa fa-files-o"></i> &nbsp; &nbsp; {{'_menu.teachingResource.list'|trans}}</div></a>
</div>