<html>
<body>
{{'_mail.dontRememberUsername_body'|trans({'%fullname%':user.fullname,'%username%':user.username}, "messages", userPreferedLocale)|raw}}
{{'_mail.trainee.signature'|trans({}, "messages", userPreferedLocale)|raw}}
</body>
</html>