<html>
<body>
{{'_mail.genNewPassword_body'|trans({'%fullname%':user.fullname,'%username%':user.username,'%password%':user.clearPassword}, "messages", userPreferedLocale)|raw}}
{{'_mail.trainee.signature'|trans({}, "messages", userPreferedLocale)|raw}}
</body>
</html>