<html>
<body>
{{'_mail.lostPassword_body'|trans({'%fullname%':user.fullname,'%url%':url}, "messages", userPreferedLocale)|raw}}
{{'_mail.admin.signature'|trans({}, "messages", userPreferedLocale)|raw}}
</body>
</html>